body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    margin: 0;
}

.calculator{
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: center;
    width: 320px;
}

.display{
    background-color: #222;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    min-height: 50px;
    text-align: right;

}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button{
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}

.button.dark--grey{
    background-color: #333;
    color: #fff;

}

.button.orange{
    background-color: #f39c12;
    color: #fff;
}

.button.light--grey{
    background-color: #d3d3d3;
    color: black;
}

.button.wide{
    grid-column: span 2;
    border-radius: 50px;
}